<div class="card p-0 card-dash card-dash-1">
  <div class="card-body">
    <h3 class="card-title">Tarjeta 1</h3>
  </div>
</div>

<div class="card p-0 card-dash card-dash-2">
  <div class="card-body">
    <h3 class="card-title">Tarjeta 2</h3>
  </div>
</div>

<div class="card p-0 card-dash card-dash-3">
  <div class="card-body">
    <h3 class="card-title">Tarjeta 3</h3>
  </div>
</div>

<div class="card p-0 card-dash card-dash-4 mx-auto ">
  <div class="card-body">
    <h3 class="card-title">Tarjeta 4</h3>
  </div>
</div>