<div class="card p-0 card-dash card-dash-1 chart chart1">
  <div class="chart1_head">
    <h3 class="titulo-chart-1">Active User</h3>
    <h4 id="chart1_cuenta">25</h4>
    <p id="chart1_fecha">01-03-2024</p>
    <div>
      <i class="fa-solid fa-person icon-awesome" style="color: blue;"></i>
      <i class="fa-solid fa-person icon-awesome" style="color: blue;"></i>
      <i class="fa-solid fa-person icon-awesome" style="color: blue;"></i>
      <i class="fa-solid fa-person icon-awesome" style="color: #c4003b;"></i>
      <i class="fa-solid fa-person icon-awesome" style="color: #c4003b;"></i>
    </div>
  </div>
  <canvas id="myChart1" class="Chart1"></canvas>
</div>

<div class="card p-0 card-dash card-dash-2 chart chart2">
  <canvas id="myChart2"></canvas>
  <div class="chart2_footer">
    <h3 class="titulo-chart2"> Storage Capacity</h3>
  </div>
</div>

<div class="card p-0 card-dash card-dash-3 chart chart3">
  <canvas id="myChart3"></canvas>
  <div class="chart3_footer">
    <div class="medidas-chart3">
      <h3>Downloads</h3>
      <p>77 GBps</p>
      <div class="icon-content-chart3">
        <i class="fa-solid fa-download" style="color: #3300ff;"></i>
      </div>
    </div>
    <div class="medidas-chart3">
      <h3>Uploads</h3>
      <p>15 GBps</p>
      <div class="icon-content-chart3">
        <i class="fa-solid fa-upload" style="color: #3300ff;"></i>
      </div>
    </div>
  </div>
</div>

<div class="card p-0 card-dash card-dash-4 mx-auto chart chart4">
  <div class="chart4_header">
    <h3>Data Base</h3>
  </div>
  <canvas id="myChart4"></canvas>
  <div class="chart4_footer">
    <h3>18%</h3>
  </div>

</div>