<main class="main w-100 container-fluid row overflow-hidden p-4 m-0 ">

    <div class="col-12 div-titulo ">
        <h1 class="titulo text-center mt-5 col-md-12">SISTEMA DE MONITOREO <br> INTEGRADO</h1>
    </div>

    <div class="row col-12 col-md-12 justify-content-center g-2 align-items-center content-form-img">

        <div class="div-form col-8 col-md-4 align-items-center justify-content-center p-4">

            <div class="imagen-screen-xs row col-12 col-md-6 my-2 ">


                <figure class="col-12 text-center ">
                    <img src="assets/img/SMGI-bg-transparent.png" alt="Logo_SMGI" class="text-center">

                    <h3 class="fw-bold text-white mx-auto my-2 h6">SISTEMA DE MONITOREO INTEGRADO</h3>
                </figure>

            </div>

            <form id="form" class="form-content row g-1  col-md-12 p-3">

                <div class="input-group mb-1 col-8 col-md-10 container-fluid">
                    <span class="form-span form-span-text input-group-text col-4 span-form" id="fom-usuario">USER</span>
                    <span class="form-span form-span-icon input-group-text col-4 span-form" id="fom-usuario-icon">
                      <svg class="icon icon-tabler icon-tabler-user" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                        </svg>
                    </span>
                    <input type="text" id="input-user" class="form-input form-control input-group-lg" aria-label="Username" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" 
                    data-bs-title="no debe contener espacios, solo letras y números">
                </div>

                <div class="input-group mb-1 col-8 col-md-10 container-fluid ">
                    <span class="form-span form-span-text input-group-text col-4 span-form"
                        id="fom-usuario">PASSWORD</span>
                    <span class="form-span form-span-icon input-group-text col-4 span-form" id="fom-usuario">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-key"
                            width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M14 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                            <path d="M21 12a9 9 0 1 1 -18 0a9 9 0 0 1 18 0z" />
                            <path d="M12.5 11.5l-4 4l1.5 1.5" />
                            <path d="M12 15l-1.5 -1.5" />
                        </svg></span>

                    <input type="password" id="input-password"
                        class="form-input form-password form-control input-group-lg" aria-label="password" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" 
                        data-bs-title="Tu contraseña debe tener entre 8 y 16 caracteres; debe incluir letras mayúsculas, minúsculas, números y símbolos">
                </div>

                <div id="resultadoLogin" class="alert alert-dismissible d-none fade show h-75 my-2 p-1 rounded-2 ">
                    <strong></strong>
                    <p class="mb-0 "></p>

                    <button type="button" class="btn-close my-auto" aria-label="Close" data-bs-dismiss="alert"></button>
                </div>

                <div class="row mt-3 col-md-12 text-center ">
                    <a href="#" id="recuperarPassword" class="col-12">¿Olvidó su contraseña?</a>
                    <button type="submit"
                        id="btn-login1"
                        disabled
                        class="form-btn-text btn btn-primary login fw-bold text-white text-center mx-auto col-6">
                        LOGIN
                    </button>
                    <button type="submit"
                        id="btn-login2"
                        disabled
                        class="form-btn-icon btn btn-primary login fw-bold text-white col-12">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login"
                            width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff"
                            fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path
                                d="M15 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M21 12h-13l3 -3" />
                            <path d="M11 15l-3 -3" />
                        </svg>
                    </button>
                </div>

            </form>
        </div>

        <div class="div-figure col-6 col-md-6 justify-content-center align-items-center ">

            <figure class="figure col-12 col-md-6">
                <img src="assets/img/SMGI-bg-transparent.png" alt="Logo_SMGI" class="figure-img text-center ">
            </figure>
        </div>
    </div>

</main>