<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="icon" type="image/x-icon" href="assets/img/SMGI.ico">
    <title>SMGI</title>
</head>

<body>

    <!-- inicio - Contenido principal de las vistas -->
    <%-body%>
    <!-- fin - Contenido principal de las vistas -->


    <script type="text/javascript" src="/assets/js/jquery/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/assets/js/popper/popper.min.js"></script>
    <script type="text/javascript" src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/index.js"></script>

</body>

</html>